.reserve {
  background-color: rgb(255, 255, 255);
  color: #000;
  border: 0.1px solid black;
  width: 12vw;
}

.unreserve {
  background-color: #007bff;
  color: white;
}

button {
  width: 10vw;
  height: 5vh;
  border: 0.1px solid #007bff;
  color: #000;
  background-color: #007bff;
  border-radius: 3px;
  transition: 0.5s;
  font-size: 14px;
  cursor: pointer;
}

.badge {
  background-color: rgb(75, 181, 165);
  color: #fff;
  border-radius: 2px;
  margin: 0 4px;
  padding: 2px 3px;
}
