* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
}

header > div {
  display: flex;
}

ul {
  display: flex;
  gap: 3rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.active {
  text-decoration: underline;
  color: blue;
  font-size: 18px;
}
